body {
  background-color: rgb(252, 234, 212);
}

h1 {
  line-height: 1 !important;

}

.header-portrait {
  background-image: url(./ms_nickki_freddy_photography.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
}

.text {
  position: relative;
  top: -40px;
  font-size:  24px;
  line-height: 1.3 !important;
  font-family: 'Roboto', sans-serif !important;
  text-align: justify;
  text-justify:  auto !important;
}

.title {
  width:  100%;
  cursor: pointer;
}

.title h1 {
  color: rgb(252, 234, 212);
  text-shadow: 1px 1px 2px black;
  opacity: 0.6;
  transition-duration: 0.4s;
}

.title h1:hover {
  opacity: 1;
  transform: scale(1.2);
  transition-duration: 0.4s;
}

.bord_bas {
  margin-bottom:  44px !important;
}

.bio {
  display: flex !important;
}

h2 {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-shadow: 1px 1px 2px white;
  font: italic bold 32px "Roboto", sans-serif !important;
}

.bio i {
  padding:  10px;
  background-color:  white;
  border-radius:  30px;
}
.bio p {
  font-family: 'Roboto', sans-serif !important;
  font-weight:  bolder;
}

a {
  display: flex;
  justify-content:  center;
  align-items: center;
}

.header p {
  font-family: 'Roboto', sans-serif !important;
  font-weight:  bolder;
}

img {
  margin:  8px;
}

@media (min-width: 900px) {
  .title h1 {
    margin-top:  20px;
    width: 50%;
    text-align: center;
    font: italic bold 4em "Roboto", sans-serif;
  }
  .bord_haut {
  }
  .text {
    font-size:  16px !important;
  }
}

@media (max-width: 900px) {
  .header-portrait {
    display: inline-flex !important;
    align-items: flex-end !important;
  }
  .title h1 {
    margin-top:  20px;
    text-align: center;
    margin: 0 auto;
    font: italic bold 3em "Roboto", sans-serif !important;
  }
  .text {
    font-size:  16px !important;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font: italic bold 2em "Roboto", sans-serif !important;
  }
  .text {
    font-size:  16px !important;
  }
}

