html, body {
  height:  calc(100% - 60px);
  background-color: rgb(252, 234, 212);
}

html {
  position: relative;
  min-height: 100vh;
}

body {
   margin-bottom: 60px;
}

h1 {
  line-height: 1 !important;
  margin:  8px;
}

h2 {
font-family: 'Merriweather Sans', sans-serif;
}

h3, h4, a, div, p {
  font-family: 'Playfair Display', serif !important;
}

p {
  letter-spacing: 1px;
}
