html, body {
  height:  calc(100% - 60px);
  background-color: rgb(252, 234, 212);
}

h1 {
  line-height: 1 !important;
  margin:  8px;
}

.header-portrait {
  background-image: url("https://res.cloudinary.com/dnpddlkrq/image/upload/v1647024471/ms%20nickki/MSNickki_singing_freddiePhotography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.text {
  background-color: #1C5177 !important;
  color: rgb(252, 234, 212);
  text-shadow: 0.6px 0.6px 1px black;

  position: relative;
  top: -30px;
  font-size:  24px !important;
  line-height: 1.3 !important;
  font-family: 'Roboto', sans-serif !important;
  text-align: justify;
  text-justify:  auto !important;
}

.title {
  width:  100%;
  cursor: pointer;
 margin-top: 24px !important;
}

.title h1, h2 {
  color: rgb(252, 234, 212);
  text-shadow: 1px 1px 2px black;
}

.bord_bas {
  margin-bottom:  44px !important;
}

.bio {
  display: flex !important;
}

/*h2 {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  font: italic bold 32px "Roboto", sans-serif !important;
}*/

.lien_fb {
  display: flex;
  justify-content: center;
}

.bio p {
  font-family: 'Roboto', sans-serif !important;
  font-weight:  bolder;
}

a {
  display: flex;
  justify-content:  center;
  align-items: center;
}

.combo {
  text-align: center;
}

.header p {
  font-family: 'Roboto', sans-serif !important;
  font-weight:  bolder;
}

img {
  margin-top: 32px;
}

.langselector {
  margin:  0 auto;
  display:  block;
  text-align: center;
  z-index: 999;
  position: fixed;
  right:  12px;
  top:  65px;
  color: #2669a5;
  font-weight: 700;
  color:  black;
  text-shadow: 0.6px 0.6px 1px black;
  opacity:  0.5;
}
  .langselector:hover {
    color: rgb(252, 234, 212);
    text-shadow: 0.6px 0.6px 1px black;
    opacity:  1;
  }

@media (min-width: 992px) {
  .header-portrait {
  }
  .title h1, h2 {
    width: 50%;
    text-align: center;
    font: italic bold 6em "Roboto", sans-serif;
    opacity: 0.6;
    transition-duration: 0.4s;
  }

  .title h2:hover, h1:hover {
    opacity: 1;
    transform: scale(1.2);
    transition-duration: 0.4s;
  }
  .title h2 {
    font-size: 20px !important;
  }
  .bord_haut {
    margin-top: 40px !important;
  }
  .text {
    font-size: 16px !important;
  }
  .tof-one {
    display: none;
  }
  .tof-two {
    margin-bottom:  40px;
  }
}
@media (max-width:  991px) {
  .header-portrait {
    display: flex;
  }
  .title h1, h2 {
    width: 50%;
    text-align: center;
  }
  .title h1 {
    margin-top: 0px !important;
    font: italic bold 3.5em "Roboto", sans-serif;
  }
  title h2 {
    font: italic bold 1.5em "Roboto", sans-serif;
  }
  .text {
    top: -25px;
  }
  .text-one {
    order: 1;
  }
  img {
    z-index: 10;
    margin-top: 70px;
  }
  .text-two {
    order: 3;
    top: 10px;
  }
  .tof-one {
    display: flex;
    align-items: center;
    justify-content: center !important;
    order: 2;
    margin-top: -100px !important;
    padding:  0;
    width:  100%;
  }
  .tof-two {
    display: none;
  }
}
@media (max-width: 900px) {
  .header-portrait {
    background-position: right 60% bottom 45%;
  }
  .title h1, h2 {
    margin-left:  8px;
    width: 50%;
    text-align: center;
    font: italic bold 3em "Roboto", sans-serif;
  }
  .title h2 {
    font-size:  20px !important;
  }
  .bord_haut {
    margin-top: 20px !important;
  }
  .text {
    font-size:  16px !important;
  }
}

@media (max-width: 768px) {
  .tof-one {
    justify-content: center !important;
    order: 2;
    margin-top: -100px !important;
  }
}

@media (max-width: 480px) {
  .header-portrait {
    background-position: 65% 10%;
  }
  .text {
    letter-spacing: 1px;
    top:  -20px;
  }
  img {
    z-index: 998;
    margin-top: 70px;
  }
  .text-two {
    top: -5px;
  }
  .ui.segment:first-child {
    margin-top: 12px;
  }
  .title {
    margin:  16px 0px 0px 0px !important;
  }
  .title h1, h2 {
    margin:  5px 0px 0px 8px;
    text-align: center;
    opacity:  1;
    font: italic bold 3em "Roboto", sans-serif;
  }
}

