.footer {
  z-index: 999;
  position: sticky;
  bottom:0;
  left: 0;
  right: 0;
  width:100%;
  height:65px;
  background-color: black;
  color:  #FCEAD4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align:  center;
}


.cadre_lien p, a {
  font-size:  12px;
}

.icons {
  transform:  scale(1.4);
  transition:  .2s;
}
.icons:hover {
  transform:  scale(1.7);
  transition:  .2s;
}

.presskit .icon, p {
  color:  rgb(252, 234, 212);
  font-size: 12px;
}

@media (max-width: 480px) {
  .footer {
    width: 100%;
  }
}
